<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project_type.status %>
</p>

<%= link_to 'Edit', edit_project_type_path(@project_type) %> |
<%= link_to 'Back', project_types_path %>
