<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :descriptions %>
    <%= form.text_area :descriptions, id: :project_descriptions, required: true %>
  </div>

  <div class="field">
    <%= form.label :technology %>
    <%= form.select(:technology_id, Technology.all.collect {|u| [u.name, u.id]}, :prompt => 'Select', required: true)%>
  </div>

  <div class="field">
    <%= form.label :document %>
    <%= form.file_field :document, id: :project_document %>
  </div>

  <div class="field">
    <%= form.label :project_type %>
    <%= form.select(:project_type_id, ProjectType.all.collect {|u| [u.name, u.id]}, :prompt => 'Select', required: true) %>

  </div>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.select(:client_id, Client.all.collect {|u| [u.name, u.id]}, :prompt => 'Select', required: true)%>
  </div>

 <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: 'datetimepicker1', required: true %>
  </div>

   <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, id: 'datetimepicker2', required: true  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
